*.a
*.o
*.exe
*.dll
Makefile
/doc/timidity.*
/autom4te.cache/
/configure~
/common.makefile
/stamp-*
/config.log
/config.status
/config.h
/interface.h
/*/.deps/
/timidity/newton_table.c
/interface/w32g_res.res
/interface/w32g_subwin_escaped.c